<% include ./partials/header %>

<div class="container-fluid" id="header-container">
		<div class="row">
			<div class="col-md-12">
				<div id="header-content">
					<em><h1>Welcome</h1></em>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 main-content" style="border: 2px solid black">
				<div class="content">
					<h2>Man must explore, and this is exploration at its greatest</h2>
						<em><p>Posted by Tony on September 24, 2014</p></em>
				</div>
			</div>

			<div class="col-md-12 main-content" style="border: 2px solid black">
				<div class="content">
					<h2>I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2>
						<em><p>Posted by Tony on September 24, 2014</p></em>
				</div>
			</div>

			<div class="col-md-12 main-content" style="border: 2px solid black">
			<div class="content">
				<h2>Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</h2>
					<em><p>Posted by Tony on September 24, 2014</p></em>
			</div>
			</div>
		</div>
	</div>

<% include ./partials/footer %>